<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPcUGI3RWy_Ifd-Z_UdPkYgDydFioHAZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>941431420769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaelelderazurevauban.FoodPantryApp</string>
	<key>PROJECT_ID</key>
	<string>food-pan-94155</string>
	<key>STORAGE_BUCKET</key>
	<string>food-pan-94155.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941431420769:ios:d461e1c13eb0a8e7613720</string>
</dict>
</plist>